.services {
	padding: 80px 0;
	&__header {
		width: 100%;
		max-width: 950px;
		margin: 0 auto 40px;
		text-align: center;
	}
	&__items {
		display: flex;
	}
	&__item {
		flex: 1 1 0;
		padding-left: 85px;
		padding-right: 35px;
		position: relative;
		&-img {
			position: absolute;
			top: 0;
			left: 28px;
			z-index: 1;
		}
		&-title {
			margin-bottom: 10px;
			font-size: 14px;
			color: #333;
			text-transform: uppercase;
		}
		&-text {
			font-size: 15px;
			color: #999;
		}
	}
}
